/* General reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f5f5;
    background-color: #272727;
}

/* Sidebar styling */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(130deg, #050369fd, #000620);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidenav img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.sidenav a {
    color: rgb(226, 226, 226);
    padding: 15px 10px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.sidenav a:hover {
    background: linear-gradient(800deg, #1b19a1fd, #061247);
    color: rgb(255, 255, 255);
}

/* Content styling */
.content {
    margin-left: 200px;
    padding: 20px;
}

/* Content box styling */
.content-box {
    background: rgba(20, 20, 20, 0.9);
    max-width: 70%;
    margin: 20px auto;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
}

.content-box h1 {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 24px;
}

.content-box p {
    color: #cccccc;
    font-size: 16px;
}

.content-box:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.8);
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}